**/.vscode/
**/.vscode-test/
**/.turbo/
**/node_modules/
**/src/
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.*
**/vite.config.*
**/*.map
**/*.ts
**/.vscode-test.*
**/buf.gen.yaml
turbo.json
pnpm-workspace.yaml
**/result
packages/eslint-config
